SUPABASE_URL="https://bmqgnzgfwnsvvrjijidn.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJtcWduemdmd25zdnZyamlqaWRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzg3MDExNjYsImV4cCI6MjA1NDI3NzE2Nn0.XciC9vR0UkVP7Nga7Mc8m9ts_7b3V_q1E0KtJLtfRJY"
SUPABASE_SERVICE_KEY=""
