

.v-overlay__content {

  -webkit-box-shadow: 0px 36px 100px -50px rgba(144, 144, 144, 0.68) !important;
  -moz-box-shadow: 0px 36px 100px -50px rgba(144, 144, 144, 0.68) !important;
  box-shadow: 0px 36px 100px -50px rgba(144, 144, 144, 0.68) !important;
  border-radius: 20px  !important;
}